@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic|Open+Sans|Roboto+Mono');
@import './animation';
@import './gradients';
@import './logo';

body, html {
    transition: background-color 2s ease;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

form {

    display: block;
    padding: 2rem;
    background-color: blanchedalmond;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    & > * {
        margin: .5rem 0;
    }

    label {
        padding: 0.5rem 0;
    }

    input {
        width: 100%;
    }

    button {
        background-color: #00d1ec;
        border-radius: 4px;
        border: none;
        padding: 0.5rem 1rem;
        width: 100%;
    }

    textarea {
        width: 100%;
        border-radius: 4px;
    }
}

* {
    font-family: sans-serif;
}

[v-cloak] {
    display: none;
}