.gradient-1 {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.gradient-2 {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.gradient-3 {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.gradient-4 {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.gradient-5 {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.gradient-6 {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.gradient-7 {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.gradient-8 {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.gradient-9 {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.gradient-10 {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

.gradient-11 {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.gradient-12 {
    background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}

.gradient-13 {
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}