.home {
    p {
        font-family: 'Arimo', sans-serif;
        margin-top: 2px;
    }
    
    a {
        display: inline-block;
        transition: transform .3s ease-out;
    
        &:hover {
            transform: translateY(3px);
        }
    }
    
    a, u {
        text-decoration: none;
    }

    h1, p, img {
        visibility: hidden;
    }

    h1 {
        font-family: 'Roboto Mono';
        margin-bottom: 4px;
    }
    
    img {
        height: 25px;
        margin-right: 10px;
    
        &.fadeInDown {
            visibility: visible;
        }
    }
}


