@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic|Open+Sans|Roboto+Mono');
@import './animation';
@import './home';
@import './gradients';
@import './form.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, .gradient-target {
    transition: background-color 2s ease;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

* {
    font-family: sans-serif;
}