@use './animation';
@use './home';
@use './gradients';
@use './form';

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#app {
    height: 100%;
}

body {
    font-family: sans-serif;
}

.gradient-target {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 2s ease;
}
